.logo-container {
	z-index: 0;
	width: 400px;
	height: 600px;
	position: absolute;
	top: 0;
	right: 8%;
	bottom: 0;
	left: auto;
	margin: auto;
	// opacity: 0;
}
.G-outline {
	width: calc(100vw / 3);
	top: 5%;
	position: absolute;
	right: calc(16vh - 140px);
	bottom: auto;
	left: auto;
	height: auto;
	// bottom: 0;
	transform: rotateZ(30deg) !important;
	@media (max-width: 768px) {
		top: 103px;
		margin-right: 20px;
	}
}
.solid-logo {
	position: absolute;
	// top: -5px;
	top: calc(5% - 4px);
	right: calc(16vh - 133px);
	bottom: auto;
	left: auto;
	margin: auto;
	opacity: 0;
	transform: rotateZ(30deg);
	width: calc(100vw / 3);
	z-index: 1;
	animation: solidIn 1.2s 4s;
	animation-fill-mode: forwards;
	@media (max-width: 768px) {
		margin-right: 20px;
		top: 100px;
	}
}
@keyframes solidIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.svg-container {
	stroke: #ffd700;
	stroke-width: 1px;
}
