// $primaryColor: #ffd700;
$primaryColor: #86c232;

$textareaColor: #474b4f;
$textColor: #fff;

$navbarBackgroundColor: #474b4f;
$navbarIconColor: #222629;

$bodyBackgroundColor: #222629;
$bodyColor: #444;
