@import "../../Styles/variables";
.contact-page {
	.text-zone {
		@media (max-width: 768px) {
			left: 110px;
			// transform: translateY(-50%);
			width: 35%;
		}
	}
}
.contact-form {
	width: 100%;
	margin-top: 3rem;

	ul {
		margin: 0;
		padding: 0;
		display: grid;
		grid-template: 50px 50px 150px auto / repeat(2, 190px);
		grid-auto-rows: auto;
		grid-gap: 5px;
		@media (max-width: 768px) {
			transform: translateY(-20%);
			grid-gap: 3px;
			grid-template: 0.6fr 0.6fr 1.5fr 0.7fr / repeat(2, 1fr);
		}
		li {
			margin: 0;
			padding: 0;
			// margin-bottom: 5px;
			list-style-type: none;
			display: block;
			position: relative;
			opacity: 0;
			animation: fadeInUp 2s 2s;
			animation-fill-mode: forwards;

			overflow: hidden;
			// @media (max-width: 769px) {
			// 	height: 50%;
			// 	width: 50%;
			// }

			input[type="text"],
			input[type="email"],
			textarea {
				width: 100%;
				height: 100%;
				border-radius: 5px;
				border: 0;
				background-color: $textareaColor;
				font-size: 16px;
				color: $textColor;
				padding: 0 20px;
				box-sizing: border-box;
			}
			textarea {
				// min-height: 150px;
				padding-top: 10px;
			}
			&:nth-of-type(3),
			&:nth-of-type(4) {
				grid-column: 1 / -1;
			}
			&:nth-of-type(5) {
				justify-self: end;

				grid-column: auto / -1;
			}
			input[type="submit"] {
				color: $primaryColor;
				background: 0 0;
				font-size: 14px;
				letter-spacing: 3px;
				text-decoration: none;
				padding: 8px 10px;
				border: 1px solid $primaryColor;
				border-radius: 5px;
				@media (max-width: 768pc) {
					padding-top: 3px;
					padding-bottom: 2px;
				}
			}
		}
		// li.half {
		// width: 40%;
		// margin-left: 10px;
		// float: left;
		// }
	}
}

.info-map {
	position: absolute;
	top: 30%;
	right: 35%;
	z-index: 9999999;
	width: 200px;
	padding: 20px;

	font-family: Helvetica;
	font-size: 14px;
	font-weight: 300;

	opacity: 0;
	animation: fadeIn 1s 1.5s;
	animation-fill-mode: forwards;

	color: $textColor;
	background: #000;

	transition: all 2s;
	@media (max-width: 1087px) {
		top: 10%;
		right: auto;
		margin-left: 55rem;
	}

	@media (max-width: 768px) {
		display: none;
	}
	span {
		font-size: 12px;
		display: block;
		padding-top: 20px;
		color: $primaryColor;
	}
}
.map-wrap {
	background: rgba(8, 253, 216, 0.1);
	width: 53%;
	height: 100%;
	margin-left: auto;
	transition: all 2s;

	@media (max-width: 1087px) {
		margin-left: 50rem;
	}
	@media (max-width: 768px) {
		display: none;
	}
}
.leaflet-container {
	width: 100%;
	height: 100%;
	position: relative;
	opacity: 0;
	animation: backInRight 1s 1.2s;
	animation-fill-mode: forwards;
}
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
	font-size: 10px;
}
